{% extends 'base.html' %}
{% block content %}

<div class="row">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Education</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="title-blocks">
        {% for school_id in all_edu %}
        <a link="/edu/{{school_id}}" class="title-block txt-black link">
            <div class="d-flex justify-content-between me-4 ms-3">
                <h1>{{all_edu[school_id]['title']}}</h1>
                <span class="a-tag">View</span>
            </div>
            <div class="bg-dark-1 txt-white">
                <div class="ms-3">
                    <p>{{all_edu[school_id]['start_date'].strftime('%b %Y') }} - {{'Present' if
                        all_edu[school_id]['present']
                        ==
                        True else
                        all_edu[school_id]['end_date'].strftime('%b %Y') }}
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}